// All Variables :

$fontSize: 20px;
$fontColor: #fff;
$tdFontColor: #333;
$paddingTop: 30px;
$paddingBottom: 10px;
$marginBottom: 30px;
$tableFont: 14px;
$thTdPaddingTB: 5px;
$thTdPaddingRL: 10px;
$arrowColor: #e1ecf3;
$focusShadow: 0 0 0 0.25rem rgb(21 211 161 / 41%) !important;
$borderColor: #15d3a1 !important;